/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
	--font: "Poppins", "Source Sans Pro", "Roboto Condensed", sans-serif;
	--font-backup: "Montserrat Alternatives", "Source Sans Pro",
		"Roboto Condensed", sans-serif;
	--main-purple: #5461dd;
	--main-black: #0a0a0a;
	--main-offwhite: #dbdbdb;
}

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
